* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

.Navbar {
  background-color: #201f1ff8;
  width: 100%;
  height: 55px;
}
.Ulstyle {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  list-style-type: none;
  width: 56%;
  margin: 0 auto;
  li{
    cursor: pointer;
  }
}
.main {
  height: 100vh-(55px);
  text-align: center;
  background-color: #000;
  width: 100%;

  color: #fff;
  // height: 666px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 120px 80px 80px 0px;
  .image1{
    position: absolute;
    right: 15%;
    bottom: 10%;
  }
  .image2{
    position: absolute;
    left: 11%;
    top: 5%;
  }
  .Name {
    font-size: 64px;
    line-height: 77px;
    font-weight: bold;
  }
  .Abouts {
    max-width: 450px;
    margin: 0 auto;
  }
  
  .Button {
    display: flex;
    gap: 10px;
    justify-content: center;
    .about {
      width: 113px;
      height: 49px;
      background: #fdb827;
      border-radius: 8px;
    }
    .lets {
      width: 198px;
      height: 49px;
      background: rgba(255, 255, 255, 0.13);
      border-radius: 8px;
      color: #fff;
    }
  }

}

.main2{
  background-color: #000;
.top{
  display: flex;
}
  .image3{
   padding-left: 5%;
  }
  .Abouts{
    color: #fff;
    padding: 10px;
    max-width: 91%;
    padding-left: 6.2%;
    font-size: 12px;
  }
  .Name{
    color: #fff;
    font-size: 55px;
    max-width: 620px;
    padding-top: 5%;
    
  }
}
.main3{
  display: flex;
  background-color: #000;
.Name{
  font-size: 48px;
  font-weight: 700;
  line-height:58.09px;
  color:white;
  max-width: 500px;
}
.Abouts{
 font-size:16px;
line-height: 19.36px;
color: #fff;
padding: 3% 0%;
max-width: 450px;
}
.Info{
  padding: 5.5% 13%;
}
.image4{
  position: relative;
  width: 263px;
  height: 468px;
  left: 44px;
  top: 85px;
  
}
}

.Porto{
  display: flex;
  width: 40%;
  margin: 0 auto;
  border: 2px solid gray;
  border-radius: 20px;
  background-color: #272525;

}
.Portosec{
  display: flex;
  flex-wrap: wrap;
  column-gap: 15px;
row-gap: 15px;
  background-color: #000;
  color: #fff;
  padding-top: 55px;
}

